@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

body {
  font-family: 'Fira Sans', sans-serif;
}

h1, h2, h3 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}
.subtitle, .lead, .page-description {
  display: none;
}
a.btn[href="https://github.com/contactmadrasi-prog/My-star-wars-journal"] {
  display: none !important;
}